<DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Demo Bundle{% endblock %}</title>
        <link rel="icon" sizes="16x16" href="{{ asset('favicon.ico') }}" />
        <link rel="stylesheet" href="{{ asset('bundles/Blogfrontend/css/demo.css') }}" />
    </head>
    <body>
        <div id="symfony-wrapper">
            <div id="symfony-header">
                <a href="{{ path('index') }}">
                    <img src="{{ asset('bundles/Blogfrontend/images/logo.gif') }}" alt="Symfony logo" />
                </a>
            </div>

            <div class="symfony-content">
                {% block content %}
                {% endblock %}
            </div>
        </div>
    </body>
</html>
